<footer>
  <ul style="display: grid; grid-template-columns: repeat(4, 25%)">
    <li>Clash Of Clans</li>
    <li>About The Game</li>
    <li>Download The Game</li>
    <li>Clans</li>
    <li>Players</li>
    <li>Rankings</li>
    <li>Careers</li>
    <li>Developer's API</li>
    <li>Contact Us</li>
  </ul>
</footer>
