<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css"
    />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/content.css" />
    <title>Clash Of Clans</title>
  </head>
  <header>
    <nav>
      <ul>
        <li><a href="/">Clash Of Clans</a></li>
        <li><a href="/clans">Clans</a></li>
        <li><a href="/players">Players</a></li>
        <li><a href="/rankings">Rankings</a></li>
      </ul>
    </nav>
  </header>
  <main class="container"></main>
</html>
