<%- include("partials/header.ejs") %>;
<body>
<section id = "introduction">
    <img src="Images\coc_logo.jpeg">
    <span>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, natus minus optio delectus repudiandae suscipit id vitae, neque nesciunt aperiam dolores praesentium voluptatem, facilis voluptas perferendis deleniti voluptate quas accusamus laudantium ducimus non obcaecati dicta. Sapiente perspiciatis distinctio eaque, rem ratione dolorem optio pariatur laudantium repudiandae placeat sequi ipsam libero atque quaerat? Doloribus recusandae minima omnis unde aspernatur dolorum vitae nostrum earum excepturi totam laborum officia, laudantium magnam rem, debitis impedit quo asperiores! Ipsam optio voluptates ipsa laborum consectetur architecto perspiciatis ullam, ex, illo ad doloribus eius voluptatem rerum harum assumenda error consequatur ratione beatae animi possimus necessitatibus vero sapiente!
        </p>
    </span>
</section>
<%- include("partials/footer.ejs") %>
</body>

</html>