<%- include("partials/header.ejs") %>;
<body>
    <form action="/players" method="post">
        <input type="text" name = "tag" placeholder ="Enter player Tag">
        <input type="submit" value = "fetch Details">
    </form>
</body>
<%- include("partials/footer.ejs") %>
